* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
}

h1 {
  text-align: center;
}

nav {
  padding: 1em;
}

input {
  text-align: center;
}

.pizza-list {
  margin: auto;
}

.card {  
  display: flex;
  border: 1px solid #333;
  padding: .7em;

  img {
    width: 200px;
  }

  .card-body {
    padding: 1em;
  }

}